.about {
  max-width: 100% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.aboutImage {
  height: calc(90vh - 20em);
  width: auto;
}

.aboutGreeting {
  font-size: 3em;
  margin: 0 0 1em 0;
  font-weight: 900;
}

.aboutGreeting span {
  color: #39819F;
}

.aboutPar {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #c4ceed;
  text-align: start;
  margin: 0 0 1em 0;
}

.twoColList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .aboutImage {
    height: auto;
    width: 50%;
    margin: 0 auto;
  } 
}

@media only screen and (max-width: 600px) {
  .aboutImage {
    width: 100%;
  } 
}