[data-theme="light"] {
  --background: linear-gradient(to top, oklch(86.092% 0.03201 201.671) 0%, #ffffff 100%);
  --text-colour: #000;
  --secondary-text-colour: #FFF;
  --overlay: rgba(0, 0, 0, .5);
  --box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
  --primary-colour: #2e6e80;
  --secondary-colour: #578b99;
  --contrast-colour: #efa038;
  --background-primary: #F4ECE6;
}

[data-theme="dark"] {
  --background: linear-gradient(to top, #000000 0%, oklch(30.2% 0.056 229.695) 100%);
  --text-colour: #fff;
  --secondary-text-colour: #000;
  --overlay: rgba(255, 255, 255, .4);
  --box-shadow: -8px 10px 17px -4px #e5d0d6;
  --primary-colour: #024947;
  --secondary-colour: #143237;
  --contrast-colour: #83571f;
  --background-primary: #171717;
}