.tabMain {
  display: flex;
  color: #c4ceed;
  text-align: left;
  gap: 2em;
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.tabList li {
  color: #4d5973;
  cursor: pointer;
  padding: 1em;
}

.activeTab {
  color: #00ad92 !important;
  border-left: 2px solid #00ad92;
}