.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: var(--light-colour);
  z-index: 1;
  img {
    width: 30px;
    height: auto;
  }
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: .8rem;
  flex-wrap: wrap;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navbar-link:hover {
  color: var(--primary-colour);
}

.active-link {
  color: var(--primary-colour);
}

/* Mobile View */
.navbar-hidden-menu {
  display: none;
  position: relative;
}

.navbar-hidden-menu-items {
  list-style-type: none;
  position: absolute;
  top: 2em;
  right: 0;
  background-color: var(--light-colour);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 200px;
  border: 1px solid var(--primary-colour);
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar-hidden-menu {
    display: flex;
  }

  .navbar-menu,
  .navbar-logo-container p {
    display: none;
  }
}