.fruit {
  border: none;
  border-radius: 100%;
  padding: 1em;
  background-color: #e2fdf6;
  width: 5em;
  height: 5em;
  box-shadow: 0 0 16px 8px #2a6f97;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.fruitTitle {
  position: absolute;
  display: none;
  width: 10em;
  bottom: -1.8em;
  font-size: 14px;
  color: #e2fdf6;
}

.fruitImage {
  width: 3em;
  height: 3em;
}

.fruit:hover .fruitTitle {
  display: block;
}

.fruit:hover svg.fruitImage {
  transition: all 0.65s;
  transform: rotateY(360deg);
}

.fruit:hover svg#aboutImage circle,
.fruit:hover svg#aboutImage path {
  fill: #e2fdf6;
}

.fruit:hover svg#lineImage path,
.fruit:hover svg#lineImage g {
  stroke: #e2fdf6;
}

.fruit:hover svg#lineImage rect,
.fruit:hover svg#lineImage ellipse,
.fruit:hover svg#lineImage .fruitPathSpecialFill {
  fill: #e2fdf6;
}

.fruit:hover {
  border: none;
  background-color: #084774;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Layout */
.componentContainer {
  padding: 2em 10%;
  width: 100%;
  text-align: left;
  color: #c4ceed;
  background: rgb(0, 3, 8);
}

/* Menu */
.menu {
  display: flex;
  padding: 2em 10%;
  background: rgb(0, 3, 8);
}

.menuItem {
  margin: 0 3em 0 0;
  text-decoration: none;
  color: #4d5973;
}

.menuItem:hover,
.menuItem.activeLink {
  color: #ccd6f6;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 4em 0;
}

.header h3 {
  font-size: 1.5em;
  color: #c4ceed;
}

.headerLine {
  background-color: #233554;
  height: 1px;
  width: 75%;
  margin: 0 0 0 2em;
}

/* RESUME */
.resume {
  padding: 0 1em;
}

.expMain {
  margin: 1em 0 0 0;
  width: 100%;
}

.expTitle {
  font-size: 1.1em;
  color: #c4ceed;
  letter-spacing: 2px;
  margin: 0 0 .4em 0;
}

.expTitle span {
  color: #00d6b4;
}

.expSubtitle {
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  line-height: 1.2em;
  color: #c4ceed;
  letter-spacing: 1px;
}

.expDescriptionList {
  margin: 1.5em 0 0 0;
  list-style: none;
  width: 80%;
}

.expDescriptionList li {
  padding: 0 0 1em 0;  
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.expDescriptionList {
  margin: 1.5em 0 0 0;
  list-style: none;
  width: 80%;
}

.expDescriptionList li {
  padding: 0 0 1em 0;  
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

/* ABOUT */
.about {
  padding: 0 1em;
}

.aboutPar {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #c4ceed;
  text-align: start;
  margin: 0 0 1em 0;
}

.aboutPar:nth-child(4) {
  margin: 0;
}

.twoColList {
  display: flex;
  color: #c4ceed;
}

/* TABS */
.tabMain {
  display: flex;
  color: #c4ceed;
  text-align: left;
  gap: 2em;
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.tabList li {
  color: #4d5973;
  cursor: pointer;
  padding: 1em;
}

.activeTab {
  color: #00ad92 !important;
  border-left: 2px solid #00ad92;
}

/* LIST */
.listBulletSquare {
  color: #00d6b4;
}

.listText {
  font-size: 1em;
  line-height: 1.5em;
}

@media only screen and (max-width: 1130px) {
  .componentContainer {
    padding: 2em 5%;
    text-align: left;
  }

  .menu {
    padding: 2em 5%;
  }
}