.fruit {
  border: none;
  border-radius: 100%;
  padding: 1em;
  background-color: #e2fdf6;
  width: 5em;
  height: 5em;
  box-shadow: 0 0 16px 8px #006494;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.fruitTitle {
  position: absolute;
  display: none;
  width: 10em;
  bottom: -1.8em;
  font-size: 14px !important;
}

.fruitImage {
  width: 3em;
  height: 3em;
}

.fruit:hover .fruitTitle {
  display: block;
}

.fruit:hover svg.fruitImage {
  transition: all 0.65s;
  transform: rotateY(360deg);
}

.fruit:hover svg#aboutImage circle,
.fruit:hover svg#aboutImage path {
  fill: #e2fdf6;
}

.fruit:hover svg#lineImage path,
.fruit:hover svg#lineImage g {
  stroke: #e2fdf6;
}

.fruit:hover svg#lineImage rect,
.fruit:hover svg#lineImage ellipse,
.fruit:hover svg#lineImage .fruitPathSpecialFill {
  fill: #e2fdf6;
}

.fruit:hover {
  border: none;
  background-color: #0959AA;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Color Toggle */
.colorToggleContainer {
  position: fixed;
  right: 2rem;
  top: 1rem;
  z-index: 4;
}

/* TABS */
.tabMain {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2em;
}

.tabList {
  display: flex;
  gap: 1em;
  list-style: none;
}

.tabList li {
  cursor: pointer;
  padding: 1em;
  border-radius: 5px;
}

.activeTab {
  color: #000 !important;
  background-color: #55A6F6;
}

/* LIST */
.unorderedList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unorderedList li {
  display: flex;
  gap: 1em;
}

.listBulletSquare {
  color: #55A6F6;
}

.listText {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
}

@media only screen and (max-width: 1130px) {
  .componentContainer {
    padding: 2em 5%;
    text-align: left;
  }

  .menu {
    padding: 2em 5%;
  }
}

@media only screen and (max-width: 900px) {
  .fruit:first-child {
    left: 5% !important;
  }

  .fruit:nth-last-child(2) {
    top: calc(50% - 20em) !important;
  }

  .fruit:last-child {
    left: unset !important;
    right: 5% !important;
  }

  .fruit .fruitTitle {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .tabList {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) and (max-height: 650px) {
  .fruit:nth-last-child(2) {
    top: 5% !important;
  }  
}

@media only screen and (max-width: 500px) {
  .fruit {
    position: unset;
    border-radius: 20px;
    width: auto;
    height: 5em;
  }
}