.projectSection {
  max-width: 100% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.projectImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.projectDescriptionContainer {
  display: grid;
  grid-template-rows: .2fr 1.6fr .2fr;
  grid-template-columns: 1fr;
  height: 100%;
  padding-top: 1em;
}

.projectDescription {
  line-height: 1.6em;
  font-size: 0.875rem;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.projectTitle {
  margin: 0 0 1.5em 0 !important;
  font-size: 1.125rem !important;
  letter-spacing: 2px;
}

.projectStack {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  color: #c4ceed;
  margin: 2em 0 0 0;
  font-size: .8rem;
}

.projectStack li {
  padding: .75rem;
  border-radius: 2rem;
  background-color: #121820;
}

.illustartionImage {
  flex: 1 1 250px;
  max-width: 250px;
  height: 20%;
}