.projectSection {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  width: 100%;  
  padding: 2em;
  background: #0B111A;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(54, 74, 96, 0.3);
}

.projectCard {
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;
}

.projectImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.projectDescriptionContainer {
  display: grid;
  grid-template-rows: .2fr 1.6fr .2fr;
  grid-template-columns: 1fr;
  height: 100%;
  padding-top: 1em;
}

.projectDescription {
  line-height: 1.6em;
  font-size: 0.875rem;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.projectTitle {
  color: #c4ceed;
  margin: 0 0 1.5em 0;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.projectStack {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  color: #c4ceed;
  margin: 2em 0 0 0;
  font-size: .8rem;
}

.projectStack li {
  padding: .75rem;
  border-radius: 2rem;
  background-color: #121820;
}