.toggle-container {
  position: fixed;
  right: 2.5rem;
  top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.toggle-image-container {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--overlay);
  display: grid;
  place-items: center;
  cursor: pointer;
  img {
    height: 2em;
    width: auto;
  }
}

.toggle-button-container {
  background-color: var(----background-primary);
  box-shadow: var(--box-shadow);
  padding: 1em;
  position: absolute;
  top: 3em;
  right: 0;
  display: grid;
  gap: .5em;
  grid-template-areas: '. . . .'
  '. . . .';
  .toggle-button {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  .active-color-mode {
    border: 2px solid var(--primary-colour) !important;
    opacity: 1;
  }
}