@import './../../App.scss';

.footer {
  bottom: 0;
  padding: 1em 4em 1em 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  z-index: 3;
}

.footerLinkImage {
  width: 28px;
  height: 28px;
}

[data-theme="light"] .footerLinkImage {
  filter: brightness(20%);
}