@import 'https://www.w3schools.com/w3css/4/w3.css';

html {
  background-color: #f1f1f1;
}

body, h1,h2,h3,h4,h5,h6,li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
  border: 1px solid #282c34;
}

p {
  color: #282c34;
  font-size: 1.08em;
  line-height: 1.5;
}

#btn-about {
  position: fixed;
  background-color: #f1f1f1;
  border: none;
  position: fixed;
  right: 1%;
  top: 1%;
  color: #282c34;
  cursor: pointer;
}

#about-me-exp {
  width: 450px;
  height: 300px;
  border-radius: 15%;
  border: 5px solid rgb(60, 236, 231);
  background-color: #f1f1f1;
  position: relative;
  top: -18em;
}

#about-me-exp img {
  width: 150px;
  height: 150px;
  margin: 4em 1em;
  float: left;
}

#about-me-exp p {
  margin: 5em 1em;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: rgba(140, 255, 251, 0.75);
}

footer p {
  color: #818181;
}

#all-img {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Primary Fruits (buttons) */
.fruits {
  background-color: rgb(60, 236, 231);
  border: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
}

.fruits:hover {
  border: 1px solid black;
}

#dots-content {
  top: 10%;
  position: fixed;
  z-index: -1;
}

#trunk-content {
  top: 35%;
  position: fixed;
  z-index: -1;
}

#projects-fruit {
  position: relative;
  right: 20em;
  top: 10em;
}

#skills-fruit {
  position: relative;
  left: 19em;
  top: 5em;
}

#projects {
  background-image: url(images/projects.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

#skills {
  background-image: url(images/skills.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#projects-fruit, #skills-fruit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fruits-caption {
  color: black;
  padding: 5px 0;
}

/* NavBar */
#navbar {
  position: fixed;
  top: 0; 
  left: 0;
  padding: 1em;
}

#home_icon {
  width: 50px;
  height: 50px;
}

/* Projects buttons */
.projects-button {
  background-color: rgb(85, 85, 85);
  border: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  cursor: pointer;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

  .projects-button:hover {
      text-decoration: none;
      opacity: 0.5;
  }

#project-fruits {
  z-index: 1;
}

#plantpedia-fruit {
  position: relative;
  right: 27em;
  top: -13em;
}

#ivy-fruit {
  position: relative;
  right: 27em;
  top: -8em;
}

#plantpedia {
  background-image: url(images/plant.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#ivy {
  background-image: url(images/ivy.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

/* Skills buttons */
.skills-button {
  background-color: rgb(31, 31, 31);
  border: none;
  color: #f1f1f1;
  opacity: 0.85;
  cursor: default;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: -1;
  padding: 2em 0.5em;
}

#skill-fruits {
  position: relative;
  left: 24em;
  top: -11em;
  align-items: center;
  justify-content: center;
}

#btn-js {
  position: relative;
  width: 75px;
  height: 75px;
  left: 3em;
}

.skills-three {
  position: relative;
  left: -5em;
  width: 85px;
  height: 85px;
  margin: -2em 0;
}

.skills-two {
  height: 80px;
  width: 80px;
} 


/* Project Pages */
.textDivs {
  margin: 0 15em;
}

#image-area {
  text-align: center;
  margin-top: 2em;
  width: 100%;
}

#img-plantpedia {
  width: 140px;
  height: 150px;
}

#img-ivy {
  width: 250px;
  height: 150px;
}

.imgsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 1em;
}

.pImgsPl {
  width: 220px;
  height: 400px;
  margin-right: 2em;
}

.pImgsIvy {
  width: 220px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pImgsTextIvy, .pImgsTextPl {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.8em;
  margin: 0 auto;
  height: auto;
}

.pImgsTextIvy {
  width: 211px;
  padding: 0 1em;
  top: -14em;
  left: 36%;
  background: #FEDEEF;
}

.pImgsTextPl {
  width: 220px;
  left: 28.4%;
  top: -20em;
  background: #FEDEEF;
}

.imgsDiv:hover .pImgsIvy, .imgsDiv:hover .pImgsPl {
  opacity: 0.5;
}

.imgsDiv:hover .pImgsTextIvy, .imgsDiv:hover .pImgsTextPl {
  opacity: 1;
}


/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 850px) {  
  .fruits {
    position: relative;
    z-index: -1;
    width: 150px;
    height: 150px;
  }

  #fruits-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    font-weight: bold;
    cursor: pointer;
  }

  #projects, #skills {
    position: absolute;
  }

  #projects {
    background-size: 80%;
  }
  
  #skills {
    background-size: 60%;
  }

  .fruits-caption {
    position: relative;
    top: 3.5em;
  }

  #projects-fruit {
    position: relative;
    right: unset;
    top: 5em;
  }
  
  #skills-fruit {
    position: relative;
    left: unset;
    top: 22em;
  }

  #project-fruits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #plantpedia-fruit {
    right: unset;
    top: 7em;
    margin-right: 1em;
  }
  
  #ivy-fruit {
    right: unset;
    top: 7em;
    margin-left: 1em;
  }

  #plantpedia, #ivy {
    background-color: #006866;
  }  

  /* Skills buttons */
  .skills-button {
    display: inline-block;
    opacity: 1;
    z-index: 0;
    background-color: #006866;
  }

  #skill-fruits {
    position: relative;
    left: -1.5em;
    top: 20em;
  }

  #btn-js {
    position: relative;
    width: 75px;
    height: 75px;
    left: 0;
    top: 7em;
  }

  .skills-three {
    left: 0;
    width: 85px;
    height: 85px;
    margin: 0 -1em;
  }

  .skills-two {
    position: relative;
    height: 80px;
    width: 80px;
    top: 4em;
  } 

  #about-me-exp {
    top: 2em;
  }

  /* Project Pages */
  .imgsDiv {
    margin-bottom: -4em;
  }

  .img-row {
    flex-direction: column;
  }

  .textDivs {
    margin: 0 3em;
  }
}
