* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-colour: #800f2f;
  --secondary-colour: #ffe5ec;
  --background-primary: #F4ECE6;
  --light-colour: #FFF;
  --dark-colour: #000;
  --overlay: rgba(0, 0, 0, .5);
  --box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  main {    
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 1px;
  margin: 0;
}

h1 { font-size: clamp(3rem, 5rem + 1vw, 6.5rem) }
h2 { font-size: clamp(1rem, .9rem + .5vw, 2.05rem) }
h3 { font-size: clamp(1.5rem, .8rem + 1vw, 1.75rem) }
h4 { font-size: clamp(1rem, .7rem + .5vw, 2rem) }
h5 { font-size: clamp(.9rem, .5rem + .5vw, 2rem) }


p { 
  font-size: clamp(1rem, .5rem + .5vw, 2rem);
  line-height: 1.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-colour);
}

button {
  cursor: pointer;
}

.btn-pill {
  border-radius: 999px;
  padding: .5rem 1.5rem;
  background-color: var(--light-colour);
  border: 1px solid var(--dark-colour);
  font-weight: 600;
  font-size: .9rem;
  &:hover {
    background-color: var(--primary-colour);
    color: var(--light-colour);
    border: 1px solid var(--primary-colour);
  }
}

.btn-colour {
  background-color: var(--primary-colour);
  color: var(--light-colour);
  border: 1px solid var(--primary-colour);
  font-weight: 600;
  font-size: .9rem;
  &:hover {
    background-color: var(--light-colour);
    color: var(--dark-colour);
  }
}

.dec-square {
  height: 16px;
  width: 16px;
  background-color: var(--primary-colour);
}

.text-divider {
  height: 5px;
  background-color: var(--primary-colour);
}

.text-spacing-min { letter-spacing: 2px }
.text-size-large { font-size: clamp(1.1rem, 1rem + 1vw, 2rem) }
.text-medium-bold { font-weight: 500 }
.text-bold { font-weight: 600 }
.text-coloured { color: var(--primary-colour) }

.card_lh {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background-color: var(--light-colour);
}